<div class="container">
  <section>
    {% if user_is_admin %}
      <ul class="nav nav-tabs">
        <li {% if not add_prop_form.errors %}class="active"{% endif %}><a href="#auto" data-toggle="tab">Use Our Game Database To Generate Propositions</a></li>
        <li {% if add_prop_form.errors %}class="active"{% endif %}><a href="#manual" data-toggle="tab">Make Up Your Own Propositions Manually</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane {% if not add_prop_form.errors %}active{% endif %}" id="auto">
          {% include 'wagers/propositions/snippets/schedule_form.html' %}
        </div>
        <div class="tab-pane {% if add_prop_form.errors %}active{% endif %}" id="manual">
          {% include "wagers/propositions/snippets/add_form.html" %}
        </div>
      </div>
    {% endif %}
  </section>
</div>