<div class="row-fluid">
  <div class="span7">
    <form method="GET" action="{% url 'add-proposition' tourney.uuid %}">
      <fieldset>
        <legend>Check the leagues your interested in betting on.</legend>
        <div class="row-fluid">
          {% for season in game_seasons %}
            <label for="MLB" class="checkbox">
              <input {% if season.is_inactive %}disabled{% endif %} type="checkbox" name="{{ season.game_type }}">
                <span {% if season.is_inactive %}class="disabled"{% endif %}>
                  {{ season.game_type }}
                </span>
              </input>
            </label>
          {% endfor %}
        </div>
      </fieldset>
      <fieldset>
        <legend>Limit the list of games by their schedule</legend>
        <div class="row-fluid">
          <div class="span6"> 
            <label for="start_time">From</label>
            <div class="datepicker input-append">
              <input name="start_time" data-format="yyyy-MM-dd 00:00:00" type="text"></input>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
          <div class="span6">
            <label for="end_time">To</label>
            <div class="datepicker input-append">
              <input name="end_time" data-format="yyyy-MM-dd 23:00:00" type="text"></input>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
      <br>
      <input type="submit" class="btn btn-primary" value="Generate Propositions">
    </form>
  </div>
  <div class="span5">
    <form action="{% url 'add-selected' tourney.uuid %}" method="POST">
      {{ formset.management_form }}
      {% csrf_token %}
      <legend>Select Props You Want To Add</legend>

      <fieldset>
        <label class="checkbox"><input type="checkbox" class="checkall"> Check All</label>
        {% for form in formset %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {{ form.id }}

          <label class="checkbox">
            {{ form.selected }} {{ form.team_a.value }} vs {{ form.team_b.value }}
          </label>
        {% endfor %}
      </fieldset>
      <input class="btn btn-primary" type="submit" value="Add Selected Propositions" />
    </form>
  </div>
</div>