{% extends "scaffolding.html" %}
{% block content %}
{% if perms.EditableHTML.change_editablehtml %}
<div class="container">
  <div class="page-header">
    <h1>Admin View<small>Only admins can see the form below</small></h1>
  </div>
  <form action="{% url 'about' %}" method="POST">
    {% csrf_token %}
    <textarea name="html">{{html.html}}</textarea>
    <br>
    <input type="submit" value="Change About Page HTML content">
  </form>
</div>
<hr>
{% endif %}

<div class="container">
  {{html.html|safe}}
</div>
{% endblock %}