{% extends "scaffolding.html" %}
{% block content %}
<div class="hero-unit">
  <div class="container">
    <div class="row-fluid">
			<div class="span8">
        <h2 class="heading">You pick the Games,<br>We run the Tournaments</h2>
        <p class="subheading">Pick your game winners, invite your friends, go daily, weekly or all season long, email alerts, social media and more!</p>
      </div>
      <div class="span4">
       	{% with legend="" %}
        	{% include "registration/snippets/register_form.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
<hr/>
<div id="teasers" class="container">
  <section>
    <div class="row-fluid">
      <div class="span4 teaser">
        <img src="/site_media/img/icons/Clock.png">
        <h2>Automated Reporting</h2>
        <p>Daily and Weekly Winners, You pick the Games - We tally the scores and let you know how it went.</p>
      </div>
      <div class="span4 teaser">
        <img src="/site_media/img/icons/Gear.png">
        <h2>Make it a Party</h2>
        <p>Invite your Friends, Challenge your Enemies, use email, social media, or make a public challenge.</p>
      </div>
      <div class="span4 teaser">
        <img src="/site_media/img/icons/Scanner.png">
        <h2>Give Insight</h2>
        <p>Players can go online to easily keep track of how their doing and how they have done. Help your friends gain insight into their own betting habits.</p>
      </div>
    </div>
  </section>
</div>
<section class="container">
  <div style="text-align: center;" class="alert alert-success lead">
    Make props your friends can bet on or start betting yourself by <a href="{% url 'register' %}">signing up for free.</a>
  </div>
</section>
{% endblock content %}