{% extends "scaffolding.html" %}
{% block content %}
<div class="container">
  <section>
    <div class="row-fluid">
      <div class="well teaser span6">
        <img src="/site_media/img/icons/Clipboard.png">
        <h1>Create A Tournament</h1>
        <p>Get people betting in three simple steps: Create a tournament, add propositions, and share the tournament with your friends.</p>
        <div class="lead">
          <a href="{% url 'add-tournament' %}">Create a tournament now!</a>
        </div>
      </div>
      <div class="well teaser span6">
        <img src="/site_media/img/icons/Chats.png">
        <h1>Join A Tournament</h1>
        <p>Start playing without any hassle. Publically listed tournaments can be found by following the link below.</p>
        <div class="lead">
          <a href="{% url 'open-tournament-list' %}">Check out tournaments open to the public.</a>
        </div>
      </div>
    </div>

    <section class="row-fluid">
      <div class="span6">
        <div class="info-header">
          <h3>Tournaments I'm Running</h3>
        </div>
        <ol class="unstyled tourney-info">
          {% for tourney in admin_tourneys %}     
            <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
          {% endfor %}
        </ol>
        <div class="info-header">
          <h3>Tournaments I've Ran</h3>
        </div>
        <ol class="unstyled tourney-info">
          {% for tourney in admin_tourneys %}     
            <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="span6">
        <div class="info-header">
          <h3>Tournaments I'm Playing In</h3>
        </div>
        <ol class="unstyled tourney-info">
          {% for tourney in playing_tourneys %}     
            <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
          {% endfor %}
        </ol>
        <div class="info-header">
          <h3>Tournaments I've Played In</h3>
        </div>
        <ol class="unstyled tourney-info">
          {% for tourney in played_tourneys %}     
            <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
          {% endfor %}
        </ol>
      </div>
    </section>
  </section>
</div>
{% endblock %}