{% extends "scaffolding.html" %}
{% block content %}
<h2>{{wager.team_a }} vs {{ wager.team_b }}</h2>

<form class="form-horizontal" action="" method="POST">{% csrf_token %}
	<legend>Place a bet on the prop</legend>
	{% if form.errors and not form.errors.amount_bet and not form.errors.on_prop %}
	<div class="control-group error">
		<div class="controls">
      <span class="help-block">You may only make one bet per proposition.</span>
		</div>
	</div>
	{% endif %}
  {% if form.errors.on_prop %}
	<div class="control-group error">
		<div class="controls">
      <span class="help-block">{{form.errors.on_prop.0}}</span>
		</div>
	</div>
	{% endif %}
	{% if form.errors.amount_bet %}
	<div class="control-group error">
		<div class="controls">
			<span class="help-inline">Not enough credits.</span>
		</div>
	</div>
	{% endif %}
	<label class="radio">
		<input type="radio" name="position" id="optionsRadios1" value="True" checked>
		Bet 1 credit on {{ wager.team_a }}.
	</label>
	<label class="radio">
		<input type="radio" name="position" id="optionsRadios2" value="">
		Bet 1 credit on {{ wager.team_b }}.
	</label>
	{{ form.amount_bet.as_hidden }}
	{{ form.user.as_hidden }}
	{{ form.on_prop.as_hidden }}
	<input class="btn btn-success" type="submit" value="Make Bet" />
</form>

{% if perms.wager.change_wager %}
<div class="page-header">
  <h1>Admin View<small>Only admins can see below this point</small></h1>
</div>
<table>
	<tr><th>Name</th><th>For The Prop</th><th>Bet</th></tr>
{% for bet in wager.bet_set.all %}
	<tr><td>{{bet.user}}</td><td>{{bet.position}}</td><td>{{bet.amount_bet}}</td></tr>
{% endfor %}
</table>
<form class="form-horizontal" action="/wagers/wagers/payout/" method="POST">{% csrf_token %}
	<legend>Close betting and pay winners</legend>
	<input type="hidden" name="id" value="{{wager.id}}">
	<span class="help-block">Selecting the checkbox means {{ wager.team_a }} won.</span>
	<label class="checkbox">
		<input type="checkbox" name="position"> Winning Position
	</label>
	<br><input class="btn btn-success" type="submit" value="Payout Wager">
</form>
{% endif %}
{% endblock content %}
