{% extends "scaffolding.html" %}

{% block content %}
{% if perms.Wager.delete_wager %}
<div class="page-header">
  <h1>Admin View<small>Only admins can change props</small></h1>
</div>
<h2>Admin View<small>Only Admins Can See All Wagers</small></h2>
<ul class="unstyled">
{% for wager in wagers %}
	<li class="inline">
    {% include "wagers/snippets/wager.html" %}
	</li>
{% endfor %}
</ul>
{% endif %}
<h1>Propositions</h1>
<h2>Open For Betting</h2>
<ul class="unstyled">
{% for wager in bettable_wagers %}
	<li class="inline">
    {% include "wagers/snippets/wager.html" %}
	</li>
{% endfor %}
</ul>
<h2>Your Past Bets</h2>
<ul class="unstyled">
{% for wager in wagers_with_past_bets %}
	<li class="inline">
    {% include "wagers/snippets/wager.html" %}
	</li>
{% endfor %}
</ul>
{% endblock %}