{% extends "scaffolding.html" %}
{% block content %}
<h2>{{wager.proposition}}</h2>

<form class="form-horizontal" action="" method="POST">{% csrf_token %}
	<legend>Place a bet on the prop</legend>
	<label>Credits to Bet</label><input id="id_amount_bet" name="amount_bet" type="text"> 
	<span class="help-block">Selecting the checkbox is betting for the prop and not selecting it is betting against it.</span>
   <label class="checkbox">
		<input name="position" type="checkbox" />
      {{form.position}} Position
    </label>
<br><input class="btn btn-success" type="submit" value="Make Bet" />
</form>

{% if perms.wager.change_wager %}
<div class="page-header">
  <h1>Admin View<small>Only admins can see below this point</small></h1>
</div>
<table>
	<tr><th>Name</th><th>For The Prop</th><th>Bet</th></tr>
{% for bet in wager.bet_set.all %}
	<tr><td>{{bet.user}}</td><td>{{bet.position}}</td><td>{{bet.amount_bet}}</td></tr>
{% endfor %}
</table>
<form class="form-horizontal" action="/wagers/wagers/close/" method="POST">{% csrf_token %}
	<legend>Close betting and pay winners</legend>
	<input type="hidden" name="id" value="{{wager.id}}">
	<span class="help-block">Selecting the checkbox is saying the prop was true and not selecting it says it wasn't true.</span>
	<label class="checkbox">
		<input type="checkbox" name="position"> Winning Position
	</label>
	<br><input class="btn btn-success" type="submit" value="Close Wager">
</form>
{% endif %}
{% endblock content %}
