{% extends "scaffolding.html" %}
{% block content %}
<div class="container">
  <section>
  	<script >
	  	function newPrvtTour(){
	  		document.getElementById('is_public').checked = false;
	  		document.addTour.submit();
	  	};
	  	function newPublicTour(){
	  		document.getElementById('is_public').checked = true;
	  		document.addTour.submit();
	  	};
	  </script>
    <form class="form" id="addTour" method="POST" action="{% url 'add-tournament' %}">
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <fieldset>
        {% csrf_token %}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
          <div class="controls">
            <label for="name">Name Your Tournament</label>
            <input class="input-xxlarge" type="text" name="name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %} />
            {% for error in form.errors.name %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        
        <div class="control-group {% if form.description.errors %}error{% endif %}">
          <div class="controls">
            <label>Describe Your Tournament</label>
            <span class="help-block">{{ form.description.help_text }}</span>
            <textarea rows="5" class="input-xxlarge" name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            {% for error in form.errors.description %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <input name="entrance_fee" type="hidden" value="0">
        <div class="control-group {% if form.is_public.errors %}error{% endif %}">
          <div class="controls">
            <label>Make it Public or Private?</label>
            <span class="help-block">The default is private. You will need to share a link so people can join. Click the box below to make it public so that anyone on the net can find it.</span>
            <label class="checkbox" style="display:none;">              
              <input type="checkbox" id="is_public" name="is_public" {% if form.is_public.value %}checked="{{ form.is_public.value }}"{% endif %} /> Check this to make the tournament public.
            </label>
            {% for error in form.errors.is_public %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div> 
      </fieldset>
      <div class="btn-group">
		  <button class="btn btn-warning" onclick="newPrvtTour();">Create Private Tournament</button>		  
		  <button class="btn btn-success" onclick="newPublicTour();">Create Public Tournament</button>
	  </div>
	  
	  
    </form>
  </section>
</div>
{% endblock %}