{% extends "scaffolding.html" %}
{% load humanize %}
{% block content %}
<div class="container">
  <h1>{{ tourney.name }}</h1>
  <p><small>Created by: {{ tourney.created_by }} on {{ tourney.created_on }}</small></p>
  <p>{{ tourney.description }}</p>
  {% if user_is_admin %}
    {% if not tourney.is_paid %}
      {% include "wagers/tournaments/snippets/pay_form.html" %}
      {% include "wagers/propositions/snippets/add_form.html" %}
    {% endif %}
    <h2>Propositions <small>Administrator View</small></h2>
    <ul class="unstyled">
    {% for prop in propositions %}
      <li>{% include "wagers/propositions/snippets/admin_prop.html" %}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div>
          <a data-toggle="collapse" href="#leaderboard-toggle" class="btn btn-primary">View Leaderboard</a> 
          You are curently in <b>{{ player.get_place | ordinal }} place</b> with {{ player.credits }} credit{{ player.credits | pluralize }}.
        </div>
      </div>
      <div id="leaderboard-toggle" style="height: 0px;" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Player</th>
                <th>Credits</th>
              </tr>
            </thead>
            <tbody>
              {% for info in tourney.get_payout_information %}
                <tr>
                  <td rowspan="{{ info.players | length }}">{{ info.place | ordinal }}</td>
                  {% for player in info.players %}
                    {% if not player == info.players.0 %}<tr>{% endif %}
                      <td>{{ player }}</td>
                      <td>{{ player.credits }}</td>
                    </tr>
                  {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <h2>Propositions <small>You Can Bet On</small></h2>
  <ul class="unstyled">
  {% for prop in bettable_props %}
    <li>{% include "wagers/propositions/snippets/prop.html" %}</li>
  {% empty %}
    <li>There are no props open for betting.</li>
  {% endfor %}
  </ul>
  <h2>Propositions <small>You've Already Bet On</small></h2>
  <div id="accordion1">
    {% for bet in bets %}
      {% if bet.proposition.is_paid %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="bet-info clickable alert {% if bet.is_won %}alert-success{% else %}alert-error{% endif %}" href="#bet-{{ bet.id }}" data-toggle="collapse" >
              <div> 
                <h3>Prop</h3>
                <b>{{ bet.proposition }}</b>
              </div>
              <div>
                <h3>Your Position</h3>
                <b>{{ bet.get_position }}</b>
              </div>
              <div>
                <h3>Outcome</h3>
                <b>{% if bet.is_won %}Won{% else %}Lost{% endif %}</b>
              </div>
              <div class="table-button">
                <a class="btn {% if bet.is_won %}btn-success{% else %}btn-danger{% endif %}" href="#details">Show Details</a>
              </div>
            </div>
          </div>
          <div id="bet-{{ bet.id }}" style="height: 0px;" class="accordion-body collapse">
            <div class="accordion-inner">
              <table class="table table-condensed details-table">
                <tr>
                  <th>Player</th>
                  <th>Position</th>
                  <th>Amount Bet</th>
                  <th>Amount Won</th>
                </tr>
                {% for info in bet.proposition.get_payout_information %}
                  <tr class="alert {% if info.bet.is_won %}alert-success{% else %}alert-error{% endif %}">
                    <td>{{ info.bet.created_by }}</td>
                    <td>{{ info.bet.get_position }}</td>
                    <td>{{ info.bet.credits }}</td>
                    <td>{{ info.won }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>             
      {% else %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="bet-info alert alert-warning ">
              <div>
                <h3>Prop</h3>
                <b>{{ bet.proposition }}</b>
              </div>
              <div>
                <h3>Your Position</h3>
                <b>{{ bet.get_position }}</b>
              </div>
              <div>
                <h3>Outcome</h3>
                <b>Ongoing...</b>
              </div>
              <div class="table-button">
                <a class="btn btn-warning disabled" href="#details">Show Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% empty %}
      <li>You haven't made any bets yet.</li>
    {% endfor %}
  </div>
</div>
{% endblock %}