{% extends "scaffolding.html" %}
{% block content %}
<div class="container">
  <section>
  <ul class="nav nav-tabs info-header-2">
    <li class="active"><a href="#playing" data-toggle="tab">Tournaments I'm Playing</a></li>
    <li><a href="#running" data-toggle="tab">Tournaments I'm Running</a></li>
    <li><a href="#played" data-toggle="tab">Tournaments I've Played</a></li>
    <li><a href="#ran" data-toggle="tab">Tournaments I've Ran</a></li>
  </ul>
  <div class="tab-content info">
    <div class="tab-pane active" id="playing">
      <ol class="unstyled tourney-info">
        {% for tourney in playing %}
          <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
        {% empty %}
          <li><div>You have no active tournaments.<div></li>
        {% endfor %}
      </ol>
    </div>
    <div class="tab-pane" id="running">
      <ol class="unstyled tourney-info">
        {% for tourney in running %}
          <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
        {% empty %}
          <li><div>You have no active tournaments.<div></li>
        {% endfor %}
      </ol>
    </div>
    <div class="tab-pane" id="played">
      <ol class="unstyled tourney-info">
        {% for tourney in played %}
          <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
        {% empty %}
          <li><div>You have no active tournaments.<div></li>
        {% endfor %}
      </ol>
    </div>
    <div class="tab-pane" id="running">
      <ol class="unstyled tourney-info">
        {% for tourney in ran %}
          <li>{% include 'wagers/tournaments/snippets/tournament-info.html' %}</li>
        {% empty %}
          <li><div>You have no active tournaments.<div></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  </section>
</div>
{% endblock %}