{% load analytical %}
<!DOCTYPE html>
<html>
  <head>
    <title>Office Props</title>
    <script type="text/javascript" src="//use.typekit.net/dwe0opo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/site_media/css/jquery.simple-dtpicker.css" rel="stylesheet" media="screen">
    <link href="/site_media/css/officeprops.css" rel="stylesheet" media="screen">
	  {% analytical_head_top %}
    {% analytical_head_bottom %}
  </head>
	<body>
    <div id="wrapper">
      <header>
        <div class="container navbar">
          <a class="brand" href="/"><span class="brand1">Office</span> <span class="brand2">Props</span></a>
          {% if user.is_authenticated %}
            <form class="navbar-form pull-right" action="/logout" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{% url 'home' %}">
              <input type="submit" class="btn" value="Sign Out" />
            </form>
            <ul class="nav pull-right">
              <li>
                <a href="{% url 'bet-history' %}"><strong>My Bet History</strong></a>
              <li>
                <a href="{% url 'user-tournament-list' %}"><strong>My Tournaments</strong></a>
              </li>
              <li><a href=""><strong>{{ user }}</strong></a></li>
            </ul>
          {% else %}
            <form class="navbar-form pull-right" action="/login" method="GET">
              <input type="hidden" name="next" value="{% if tourney %}{{ tourney.get_absolute_url }}{% else %}{% url 'home' %}{% endif %}">
              <button class="btn"><b>Sign In</b></button>
            </form>
          {% endif %}
        </div>
      </header>
     {% if messages %}
        <div class="container">
          <section id="alerts">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
              </div>
            {% endfor %}
          </section>
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
      <div id="footer_push">
        <!--Hack for sticky footer !-->
      </div>
    </div>
    <footer>
      <hr>
      <div class="footer container">
        <ul class="unstyled">
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="">Terms of Service</a></li>
        </ul>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/site_media/js/bootstrap.min.js"></script>
    <script src="/site_media/js/jquery.simple-dtpicker.js"></script>
		<script type="text/javascript">
		$(".alert").alert();
		$('.dropdown-toggle').dropdown()
		$('.datetime-input').each(function(index) {
      $(this).appendDtpicker({"inline": true});
    });
    $("#schedule").toggle(Boolean($("[name=schedule_toggle]:checked").val()));
    $("[name=schedule_toggle]").change(function() {
      $("#schedule").toggle();
    });
		</script>
    {% analytical_body_top %}
    {% analytical_body_bottom %}
  </body>
</html>