  /* Header CSS */
header {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.brand {
  font-size: 40px !important;
  font-family: "intruder-alert";
}

.brand1 {
  color: #1F3F99;
}

.brand2 {
  color: #A6212E;
}

.navbar {
  margin-bottom: 0px;
}


/* Provides spacing between groups of unrelated sections of the site. */
section {
  margin-top: 2em;
}
section#alerts {
  margin: 0;
  padding: 0;
  margin-top: 2em;
}

.alert { margin-bottom: 0; }

/* Hero Unit CSS */
.hero-unit {
  padding-top: 65px;
  padding-bottom: 70px;
  margin-bottom: 0px;
}


h1.heading {
  font-size: 4em;
  color: #1F3F99;

}

p.subheading {
  margin-top: .5em;
}

.hero-unit input[type=text], .hero-unit  input[type=password] {
    height: 2em;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: 10px;
}

/* CSS for the three teasers at the bottom of the landing page. */

.teaser {
  text-align: center;
}


.teaser h1, .teaser h2,  {
  margin-bottom: 15px;
}


html, body {
  height: 100%;
}

#wrapper {
  height: 100%;
  height: auto !important;
  min-height: 100%;
  margin-bottom: -85px;

}

#footer_push {
  height: 85px;
}

footer {
  position: relative;
}




hr {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

h1, h2 {
  color: #1F3F99;
}

.bet-info div{ 
  margin: 0;
  padding: 10;
  text-align: center;
  white-space: normal;
  width: 300px;
  display: table-cell;
}

.alert.bet-info { 
  margin: 0px;
}

.clickable { 
  cursor: pointer;
}

.bet-info h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.bet-info .table-button {
  white-space: nowrap;
  vertical-align: middle;
}

.marketing {
  text-align: center;
}

.form-reg {
  max-width: 300px;
  margin: 0 auto 20px;
}

.form-reg button {
  margin-top: .5em;
}


.info-header {
  background-color: #f2f2f2;
  padding: 5px;
  padding-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid #B2B2B2 1px;
}

.info-header h3 {
  margin: 0px;
  padding: 0px;
}

.tourney-info li {
  border: solid #B2B2B2 1px;
  padding: 0px;
  margin: 0px;
  border-top: none;
}

.tourney-info li div { padding: 10px;}

.tourney-info div.empty-advert { 
  padding: 10px;
  border: solid #B2B2B2 1px;
  border-top: none;
 }

.tourney-info li:hover {
  background-color: #f2f2f2;
}
