<form class="form-horizontal" action="/wagers/wagers?id={{wager.id}}" method="POST">
  {% csrf_token %}
	<legend><a href="/wagers/wagers?id={{wager.id}}">{{ wager.team_a }} vs {{ wager.team_b }}</a> <small class="pull-right">{{ wager.notes }}</small></legend>
  <input class="pull-right btn btn-success" type="submit" value="Make Bet" />
	<label class="radio">
		<input type="radio" name="position" id="optionsRadios1" value="True">
		Bet 1 credit on {{ wager.team_a }}.
	</label>
	<label class="radio">
		<input type="radio" name="position" id="optionsRadios2" value="">
		Bet 1 credit on {{ wager.team_b }}.
	</label>
  <input type="hidden" name="on_prop" value="{{wager.id}}">
  <input type="hidden" name="amount_bet" value="1">
  <input type="hidden" name="user" value="{{user.id}}">
</form>
	{% if perms.wager.change_wager %}
    {% if wager.is_open %}
      <form class="form-inline" style="display:inline;" action="/wagers/wagers/close/" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{wager.id}}" name="id">
        <input class="btn" type="submit" value="Close Prop">
      </form>
    {% else %}
      <form class="form-inline" style="display:inline;" action="/wagers/wagers/open/" method="POST">
        {% csrf_token%}
        <input type="hidden" value="{{wager.id}}" name="id">
        <input class="btn" type="submit" value="Open Prop">
      </form>
    {% endif %}
    <form class="form-inline" style="display:inline;" action="/wagers/wagers/delete/" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{wager.id}}" name="id">
      <input class="btn btn-danger" type="submit" value="Delete Prop">
    </form> 
	{% endif %}
