{% extends "scaffolding.html" %}
{% block content %}
<hr>

<div class="container">

  {% include 'wagers/propositions/snippets/schedule_form.html' %}
  <div>
    <form action="{% url 'add-selected' tourney.uuid %}" method="POST">
      {{ formset.management_form }}
      {% csrf_token %}
      <legend>Select Propositions You Want To Add</legend>
      {% for form in formset %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {{ form.id }}
        <label class="checkbox">
          {{ form.selected }} {{ form.team_a.value }} vs {{ form.team_b.value }}
        </label>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Add Selected Propositions" />
    </form>
  </div>
  {% if user_is_admin %}
  {% include "wagers/propositions/snippets/add_form.html" %}
  {% endif %}

</div>
{% endblock %}